{% extends 'base.html' %}

{% block title %}

    Login

{% endblock %}


{% block content %}
    <div class="login pt-5">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                <div>
                    {{ form.user_name.label }}
                </div>
                <div>
                    {{ form.user_name(size=30, class_='form-control' + (' is-invalid'  if form.user_name.errors else '')) }}
                </div>
                <div id="user_name_errors" class="invalid-feedback d-block">
                    {{ ', '.join(form.user_name.errors) }}
                </div>
            </div>
            <div>
                <div>
                    {{ form.password.label }}
                </div>
                <div>
                    {{ form.password(size=30, class_='form-control' + (' is-invalid' if form.password.errors else '')) }}
                </div>
                <div id="password_errors" class="invalid-feedback d-block">
                    {{ ', '.join(form.password.errors) }}
                </div>
            </div>
            <div class="my-4">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </form>
    </div>
{% endblock content %}
