<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>

			{% block title %}

			{% endblock %} | Blog

		</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('main.index') }}">Blog<span class="sr-only">(current)</span></a>
				</li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item" id="full_name">
                        <div class="nav-link"><i class="far fa-user"></i> {{ current_user.full_name }}</div>
                    </li>
                    <li class="nav-item" id="admin_link">
                       <a class="nav-link disabled" href="{{ url_for('admin.index') }}">Admin</a>
                    </li>
                    <li class="nav-item" id="logout_link">
                        <a class="nav-link disabled" href="{{ url_for('main.logout') }}">Sign out</a>
                    </li>
                {% else %}
                    <li class="nav-item" id="login_link">
                        <a class="nav-link" href="{{ url_for('main.login') }}">Sign in</a>
                    </li>
            	{% endif %}
			</ul>
		</nav>
		<title>My Application</title>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-dark" role="alert">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
		<div class="container">
			<div class="row11">
				<h1>
					{% block content_title %}

					{% endblock %}
				</h1>
					{% block content %}

					{% endblock %}
			</div>
		</div>
    </body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>
